<section class="panel">
  <header class="panel-heading">
      ##
  </header>
  <div class="panel-body">
      <ul class="nav prod-cat">
          <li>
              <a href="#" class="active"><i class="fa fa-angle-right"></i> ##</a>
              <ul class="nav">
                  <li class="active"><a href="#">- ##</a></li>
                  <li><a href="#">- ##</a></li>
                  <li><a href="#">- ##</a></li>
              </ul>
          </li>
          <li>
              <a href="#"><i class="fa fa-angle-right"></i> ## &amp; ##</a>
          </li>
          <li>
              <a href="#"><i class="fa fa-angle-right"></i> ##</a>
          </li>
          <li>
              <a href="#"><i class="fa fa-angle-right"></i> ## &amp; ##</a>
          </li>
          <li>
              <a href="#"><i class="fa fa-angle-right"></i> ##</a>
          </li>
          <li>
              <a href="#"><i class="fa fa-angle-right"></i> ##</a>
          </li>
          <li>
              <a href="#"><i class="fa fa-angle-right"></i> ##</a>
          </li>
          <li>
              <a href="#"><i class="fa fa-angle-right"></i> ##</a>
          </li>
          <li>
              <a href="#"><i class="fa fa-angle-right"></i> ##</a>
          </li>
          <li>
              <a href="#"><i class="fa fa-angle-right"></i> ##</a>
          </li>
          <li>
              <a href="#"><i class="fa fa-angle-right"></i> ##</a>
          </li>
      </ul>
  </div>
</section>