* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
  margin-top: 70px;
  font-family: 'Lato', sans-serif;
  /* เพิ่มการใช้งาน font-family */
}

header {
  margin-bottom: 20px;
}

.product-container {
  display: flex;
  gap: 40px;
}

.img-card img {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  flex-shrink: 0;
  border-radius: 4px;
  height: 100%;
  /* ปรับความสูงให้เต็ม container */
  object-fit: contain;
  /* ให้ภาพเต็ม container แต่อาจทำให้ภาพมีพื้นที่เปล่งออกมา */
}

.small-Card {
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 12px;
}

.small-Card img {
  width: 80px;
  /* ปรับขนาดภาพ */
  height: 80px;
  /* ปรับขนาดภาพ */
  border-radius: 4px;
  cursor: pointer;
}

.small-Card img:active {
  border: 1px solid #17696a;
}

.product-info {
  width: 60%;
}

.product-info h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 130%;
}

.product-info h5 {
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
  color: #ff4242;
  margin: 6px 0;
}

.product-info del {
  color: #a9a9a9;
}

.product-info p {
  color: #424551;
  margin: 15px 0;
  width: 100%;
  /* ปรับความกว้างให้เต็ม container */
}

/* เพิ่มส่วนของ sizes และ size-option ที่อาจจะขาดหายไป */

.quantity input {
  width: 51px;
  height: 33px;
  margin-bottom: 15px;
  padding: 6px;
}

button {
  background: #17696a;
  border-radius: 4px;
  padding: 10px 37px;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  padding: 12px 40px;
  margin: 5px;
}

button:hover {
  background: #ff4242;
  transition: ease-in 0.4s;
}

.delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* ปรับความกว้างให้เต็ม container */
  color: #787a80;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 1px;
}

hr {
  color: #787a80;
  width: 100%;
  /* ปรับความกว้างให้เต็ม container */
  opacity: 0.67;
}

.pagination {
  padding-top: 30px;
  color: #787a80;
  margin: 15px 0;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .product-container {
    flex-direction: column;
  }

  .small-Card img {
    width: 60px;
    /* ปรับขนาดภาพ */
    height: 60px;
    /* ปรับขนาดภาพ */
  }

  .product-info {
    width: 100%;
  }

  .product-info p {
    width: 100%;
  }

  .delivery {
    width: 100%;
  }

  hr {
    width: 100%;
  }
}