<app-navbar></app-navbar>
<body>
  <div class="pagination">
    <p>#####</p>
  </div>
  
  <section class="product-container">
    <div class="img-card">
      <img [src]="featuredImg" alt="Featured Image" id="featured-image">
  
      <div class="small-Card">
        <img *ngFor="let img of smallImgs" [src]="img" alt="Small Image" class="small-Img" (click)="changeFeaturedImage(img)">
      </div>
    </div>
  
    <div class="product-info">
      <h3>{{ products[selectedProductId].name }}</h3>
      <h5>{{ products[selectedProductId].price | currency }}<del>##</del></h5>
      <p>{{ products[selectedProductId].description }}</p>
    </div>
  </section>
  
  <script src="js/cart.js"></script>
  <app-back-to-top></app-back-to-top>
</body>