<div class="animsition">
  <!-- <app-navbar></app-navbar> -->
  <app-navbar *ngIf="shouldShowNavbar()"></app-navbar>
  <router-outlet></router-outlet>
  <app-back-to-top></app-back-to-top>
</div>

<!-- <div>
    <ngx-turnstile
      *ngIf="!isCaptchaResolved"
      [siteKey]="recaptchaKey"
      (resolved)="onCaptchaResolved($event)">
    </ngx-turnstile>
  
    <div *ngIf="isCaptchaResolved">
      <div class="fadecontent">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div> -->