body {
    margin-top: 80px;
}

.animsition {
    animation: fadeIn 1s;
}

.layout {
    display: flex;
    flex-grow: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}