<div class="animsition">
  <app-navbar *ngIf="shouldShowNavbar()"></app-navbar>
  <div class="layout">
    <app-sidebar *ngIf="shouldShowSidebar()"></app-sidebar>
    <router-outlet></router-outlet>
  </div>
  <app-back-to-top></app-back-to-top>
</div>


<!-- <div>
    <ngx-turnstile
      *ngIf="!isCaptchaResolved"
      [siteKey]="recaptchaKey"
      (resolved)="onCaptchaResolved($event)">
    </ngx-turnstile>
  
    <div *ngIf="isCaptchaResolved">
      <div class="fadecontent">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div> -->