body {
    margin-top: 80px;
    /* margin-right: 2%;
    margin-left: 2%; */
}

.animsition {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}