<div class="list-group">
    <div class="container-fluid">
        <div class="row">
            <div class="container" *ngIf="isMenuhistor">
                <div class="table-responsive">
                    <table class="table">
                        <thead *ngFor="let product of products; let i = index">
                            <tr class="table-row align-top">
                                <td class="column-1 text-break " style="max-width: 10%;">
                                    <img [src]="url + product.id" alt="Product Image">
                                </td>
                                <td class="column-1 text-break " style="max-width: 50%" *ngIf="aa && aa[i]">
                                    {{product.product_name}} <br>
                                    <!-- {{aa[i].addresses_name}} | {{aa[i].phone}} | {{aa[i].parcel_number}}<br>
                                    {{aa[i].address}} {{aa[i].postalcode}} <br> -->
                                    จำนวนการสั่งซื้อ: {{aa[i].quantity}} <br> หมายเลขพัสดุ : {{aa[i].parcel_number}}
                                </td>
                                <!-- <td class="column-2 text-break" style="width: 15%" *ngIf="aa && aa[i]">
                                    {{aa[i].status ? 'ยืนยันคำสั่งซื้อ' : 'รอยืนยันคำสั่งซื้อ'}}<br>
                                    {{aa[i].payment_format}} <br>
                                    {{aa[i].confirm_payment ? 'ชำระเงินเสร็จสิน' :'ยังไม่ชำระเงิน'}}
                                </td> -->
                                <td class="column-2 text-break" style="width: 20%" *ngIf="aa && aa[i]">
                                    <!-- จำนวนการสั่งซื้อ: {{aa[i].quantity}} <br> -->
                                    <br>ราคา: {{aa[i].total_price}}
                                </td>
                                <td class="column-2 text-break" style="width: 5%" *ngIf="aa && aa[i]">

                                </td>
                            </tr>
                            <!-- <tr class="table-row">
                                    <td class="column-1 text-break " style="max-width: 100%;" *ngIf="aa && aa[i]">
                                    </td>
                                    <td class="column-1 text-break " style="max-width: 100%;" *ngIf="aa && aa[i]">
                                        สถานะ:{{aa[i].status ? 'ยืนยันคำสั่งซื้อ' : 'รอยืนยันคำสั่งซื้อ'}}
                                        ชำระเงิน:{{aa[i].payment_format}}
                                        ยืนยันการชำระเงิน:{{aa[i].confirm_payment ?'ชำระ' :'ยังไม่ชำระ'}}<br>
                                    </td>
                                </tr> -->
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>