.shadow:hover {
  box-shadow: 0 0 10px rgba(0, 173, 181, 0.4);
}

.container {
  max-width: 100%;
}

.product-item:hover .card {
  border: 1px solid var(--text-custom);
  /* เปลี่ยนสีของเส้นกรอบตามที่คุณต้องการ */
  transition: border 0.3s ease-in-out;
  /* เพิ่มเอฟเฟกต์ transition */
}