* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #00ADB5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-right: 50px;
    box-shadow: 0 1px 15px #0000002d;
}

.hidden {
    display: none;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.logo svg {
    width: 20px;
    height: 20px;
}

a .badge {
    position: absolute;
    top: -20px;
    right: -10px;
    padding: 2% 8px;
    border-radius: 50%;
    background-color: red;
    color: white;
    text-align: center;
}

.navbar a {
    position: relative;
    font-size: 20px;
    color: var(--bkg-color);
    font-weight: 500;
    text-decoration: none;
    margin-left: 35px;
    font-weight: bold;
}

.navbar i {
    font-size: 26px;
    color: var(--text-color);
    text-decoration: none;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--bkg-color);
    transition: .3s;
}

/* .navbar a:hover::before {
    width: 100%;
} */
.navbar a:hover{
    color: #000000;
}

.menu-icon {
    display: none;
    font-size: 24px;
    margin-left: 20px;
    cursor: pointer;
    color: var(--color-white);
}

.responsive-menu a,
.dropdown a {
    color: var(--text-d-color);
    text-decoration: none;
}

.responsive-menu a {
    padding: 12px;
}

.dropdown a {
    padding: 6px;
}

.dropdown,
.responsive-menu {
    flex-direction: column;
    position: absolute;
    top: 80px;
    background-color: #222831;
    z-index: 99;
    padding: auto 0;
    color: var(--text-d-color);
}

.dropdown {
    right: 50px;
    width: 250px;
    height: auto;
    display: flex;
    align-items: center;
    animation: fadeIn .5s forwards;
}

.responsive-menu {
    display: none;
    left: 0;
}

.menu-icon-dropdown {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--color-white);
}

.search-box {
    display: flex;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    max-width: 480px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}

.search-box input,
.search-box-dropdown input {
    padding: 8px;
    margin-right: 8px;
    border: none;
    font-size: 14px;
    outline: none;
}

.search-box input {
    width: 100%;
    max-width: 460px;
}

.search-box-dropdown input {
    width: 350px;
}

.search-box button,
.search-box-dropdown button {
    padding: 8px 12px;
    background-color: #222831;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 0 20px 20px 0;
    outline: none;
    margin-left: auto;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.search-box-dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 99;
    padding: auto 0;
    color: var(--text-d-color);
}

.search-dropdown {
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-box-dropdown button:hover,
.search-box button:hover {
    background-color: #3b3b3b;
    transform: scale(1.1);
}

.menu-icons {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.menu-icon-dropdown,
.menu-icon {
    margin-right: 40px;
    cursor: pointer;
}

@media screen and (max-width: 350px) {
    .header {
        padding: 20px 20%;
    }
}

@media screen and (max-width: 470px) {
    .logo {
        display: none;
    }

    .header {
        padding: 26px 50%;
    }

    .search-box {
        width: 100%;
    }

    .search-box input {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .search-box input {
        width: 120px;
    }
}

@media screen and (max-width: 800px) {
    .search-box {
        display: none;
    }

    .menu-icon-dropdown {
        display: flex;
    }

    .menu-icon {
        margin-left: 0px;
    }

}

@media screen and (max-width: 950px) {

    .search-box button {
        margin-left: 8px;
    }

    .search-box-dropdown {
        display: flex;
        top: 80px;
        min-height: 80px;
        align-items: center;
        animation: fadeIn .5s forwards
    }

    .search-box:hover .search-dropdown {
        display: block;
    }

}

@media screen and (max-width: 1114px) {
    .logo svg {
        display: none;
    }
}

/* @media screen and (max-width: 1250px) {

    .navbar a {
        display: none;
        margin-left: none;
    }

    .responsive-menu a {
        display: block;
        text-align: center;
        margin-left: none;
    }

    .menu-icon {
        display: flex;
    }

    .responsive-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        width: 100%;
        z-index: 99;
        min-height: 200px;
        align-items: center;
        animation: fadeIn .5s forwards
    }

    .responsive-menu a::before {
        content: none;
    }

    .dropdown {
        display: none;
    }
} */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}